<ion-view view-title="Home Page" ng-app="starter" ng-controller="getweather" Style="background-color: #D3D3D3;">
        <ion-nav-bar class="bar-stable"></ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>
<ion-content>
    <div class="list card" ng-if="f">
          <div class="item item-thumbnail-left">
            <img ng-src="{{f}}">
              <p>It's your Profile Picture</p>
          </div>
        </div>
    
<ion-item>
{{city1}}
</ion-item>
    <ion-item Style="background-color: #D3D3D3;">
{{temp}}
        </ion-item>
        
        <ion-item >
{{desc}}
            </ion-item>
            
            <ion-item Style="background-color: #D3D3D3;">
{{placeid}}
                </ion-item>
</ion-content>
    
    
</ion-view>   